*
{
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

#main-nav {
    width: 100%;
    text-align: justify;
    text-align: right;
    position: fixed;
    margin: 0;
    z-index: 2;

}

#main-nav .menu-item {
    display: inline-block;
    list-style: none;
    font-weight: 300;
    font-size: 25px;
    background-color: darkslategrey;
    border-radius: 10%;

}


#main-nav .menu-item a {
    text-decoration: none;
    color: #1ac056;
    padding: 25px;
}

#main-nav .menu-item a:hover {
    color: #291f1a;
}

#main-header {
    height: 100vh;
    margin: 0;
    background-image: url("../img/header-background.jpg");
    background-size: cover;

    
}

#main-header-content {
	position: absolute;
    top: 30%;
    color: white;
    width: 100%;
    text-align: center;
    padding: 30vh%;
    
}

span{
    color: #1ac056;
}

h1{
    font-family: 'roboto' , sans-serif;
    font-size: 4em;
}

h2{
    font-family: 'roboto' , sans-serif;
    font-size: 2em;
    padding: 0 0 35px 0;
}

section#about {
    padding: 0 80px 100px;
    background-color: whitesmoke;
    height: 100vh;
    padding: 35px;
    border-bottom: solid 10px grey;
	
}

section#about > figure{
    margin: 0;
    float: left;
    width: 50%;
    text-align: center;
}

#about > article{
    float: left;
    width: 50%;
    
}


#about > figure > img{
    height: 350px;
    border: 14px solid #fff;
    border-radius: 15px;
}

#skills > p{
	text-align: center;
    padding: 0 30px 0;
}


section#skills{
    text-align: center;
}

section#skills > #skills-icons > .icons {
    display: inline-block;
}

section#skills > #skills-icons > .icons > figcaption{
    text-transform: uppercase;
}